{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.categories'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.categories'|trans }}</h1>
    {% if categories is defined and categories|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.name'|trans }}</th>
                <th scope="col">
                    {{ 'label.actions'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in categories %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="{{ 'label.actions'|trans }}">
                            <a href="{{ path('categories_view', {'id': item.id}) }}" class="btn btn-primary" title="{{ 'action
                            .view'|trans }}">

                                {{ 'action.view'|trans }}
                            </a>
                            <a href="{{ path('categories_edit', {'id': item.id}) }}" class="btn btn-warning" title="{{ 'action
                            .edit'|trans }}">

                                {{ 'action.edit'|trans }}
                            </a>
                            <a href="{{ path('categories_delete', {'id': item.id}) }}" class="btn btn-danger" title="{{
                            'action.delete'|trans }}">

                                {{ 'action.delete'|trans }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ pagerfanta(categories, 'twitter_bootstrap4_translated', { routeName: ('categories_index_paginated') }) }}
        </div>

        <div>
            <a href="{{ path('categories_add') }}" class="btn btn-primary" title="{{'action.add'|trans }}">
                {{ 'action.add'|trans }}
            </a>
        </div>

    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'message.empty_list'|trans }}
        </div>
    {% endif %}
{% endblock %}