{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.roles'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.roles'|trans }}</h1>
    {% if roles is defined and roles|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.name'|trans }}</th>
                <th scope="col">
                    {{ 'label.actions'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ role.id }}</td>
                    <td>{{ role.name }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="{{ 'label.actions'|trans }}">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'message.empty_list'|trans }}
        </div>
    {% endif %}
{% endblock %}